@import 'styles/shared.module.scss';

.root {
  padding: $padding;
  min-height: 100%;
}

.property {
  margin-bottom: $margin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  @include textBold();
}

.reset {
  margin: 0 $margin * 0.5;
}

.columns {
  column-gap: $padding * 0.5;
  width: 100%;
  columns: auto 150px;
}

.label {
  display: block;

  &.wide {
    width: 100%;
  }
}

.labelText {
  display: inline-block;
}

.valueText {
  font-weight: $fontWeightBody;
  display: inline-block;
  font-style: italic;
  font-size: $fontSizeBody * 5 / 4;
  vertical-align: middle;
}

.verticalRangeHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $padding * 10;
}

.verticalRange {
  appearance: slider-vertical;
  flex-shrink: 1;
  width: $margin;
}
