.root {
  padding: 20px;
  min-height: 100%;
}

.property {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.reset {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  padding: 2px;
}

.columns {
  column-gap: 10px;
  width: 100%;
  columns: auto 150px;
}

.label {
  display: block;

  &.wide {
    width: 100%;
  }
}

.labelText {
  display: inline-block;
}

.input {
  &[type="range"] {
    width: 100%;
  }
}

.verticalRangeHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.verticalRange {
  appearance: slider-vertical;
  flex-shrink: 1;
  width: 20px;
}
