html {
  overflow: hidden;
  touch-action: none;
}

body {
  margin: 0;
  overflow: hidden;
  touch-action: none;
}

button, input {
  font: inherit;
  text-transform: inherit;
}

h1, h2, h3 {
  margin: 0;
}

button {
  border-radius: none;
  background: none;
  margin: 0;
  outline: none;
}
