.root {
  border-radius: 50%;
  border: 1px solid black;
  user-select: none;
  // background: yellow;
}

.button {
  font-weight: bold;
  font-size: 16px;
  $size: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $size;
  height: $size;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  padding: 0;
  background: white;

  &:active {
    transform: translate(-50%, -50%) scale(1.5);
  }
}
