@import 'styles/shared.module.scss';

.root {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.button {
  font-family: $fontFamilySerif;
  font-size: 6vw;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  text-shadow: 0 0 4px rgba($colorK, 0.3);
}
