$padding: 50px;

.root {
  font-family: 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  padding: $padding;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holder {
  width: 100%;
  background: gray;
}

.touchPad {
  height: 0;
  padding-top: 100%;
  position: relative;
}

.label {
  position: absolute;
  top: $padding;
  right: $padding;
}

.toggle {
  width: 20px;
  height: 20px;
}

.display {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}

.keypad {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}
