$padding: 5px;

.root {
  background: black;
  touch-action: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  user-select: none;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.menuHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.menuButton {
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: $padding;
  right: $padding;
}

.contentHolder {
  padding: $padding;
  flex-grow: 1;
}

.wheelHolder {
  position: relative;
}
