@import 'styles/shared.module.scss';

.root {
  background: $colorK;
  color: $colorY;
  touch-action: none;
  font-family: $fontFamily;
  font-size: $fontSizeBody;
  font-weight: $fontWeightBody;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  user-select: none;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.menuHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba($colorK, 0.3);
  backdrop-filter: blur(2px);
}

.menuButton {
  position: absolute;
  bottom: $margin;
  right: $margin;
}

.contentHolder {
  padding: $padding;
  display: flex;
  flex-direction: column;
  overflow: visible;
  box-sizing: border-box;
}

.top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wheelHolder {
  position: relative;
  color: $colorW;
}
