@import 'styles/shared.module.scss';

.root {

}

.row {
  display: flex;
}

.button {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: $fontSizeHeadline;
  line-height: $fontSizeHeadline;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.fraction {

}

.numerator {

}

.denominator {
  border-top: 1.2px solid $colorK;
}
