@import 'styles/shared.module.scss';

.root {
  font-weight: $fontWeightBody * 4 / 3;
  font-size: $fontSizeHeadline;
  padding: $padding * 0.4;
  text-transform: uppercase;
  line-height: $fontSizeHeadline;
  min-width: $fontSizeHeadline + $padding + 2px;
  box-sizing: border-box;
  background: $colorY;
  border-width: $borderWidth;
  border-style: solid;
  border-color: $colorGray7 $colorGray3 $colorGray3 $colorGray7;
  // box-shadow: 1px 1px 0px $colorK;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  display: inline-block;
  color: $colorK;

  &:active {
    border-color: $colorGray3 $colorGray7 $colorGray7 $colorGray3;
    transform: translate(1px, 1px);
  }
}
