.root {
}

.chord {
  color: #ddd;
  font-size: 20px;
  display: block;

  &.a {
    font-weight: 600;
    color: white;
  }

  &.b {
    font-weight: 600;
  }

  &.c {
    font-weight: 500;
  }

  &.d {
    font-weight: 400;
  }

  &.e {
    font-weight: 200;
  }

  &.f {
    font-weight: 100;
  }
}
